@model MyPortfolio.Models.TblCategories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Yeni Kategori Ekleme Sayfası</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="CategoryName"/>
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>