@model List<MyPortfolio.Models.TblCategories>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<br />
<br />
<h2>Kategoriler</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@category.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@category.CategoryId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@category.CategoryId" class="btn btn-outline-info">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Category/AddCategory" class="btn btn-outline-primary">Yeni Kategori Ekle</a>