@model MyPortfolio.Models.TblAdmins
@{
    ViewBag.Title = "UpdateLogin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3>Hakkımda Güncelleme Sayfası</h3>
@using (Html.BeginForm("UpdateLogin", "Login", FormMethod.Post))
{
    <input type="hidden" name="AdminId" value="@Model.AdminId" />

    <label>Kullanıcı Adı</label>
    <input type="text" name="UserName" class="form-control" value="@Model.UserName" />
    <br />
    <label>Parola</label>
    <input type="text" name="Password" class="form-control" value="@Model.Password" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
}